.App {
    text-align: center;
    width: 100%;
}

.browse {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    overflow-x: auto;
}

.optionsBar {
    display: flex;
    flex-direction: row;
}

.dogCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

.dogCard {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    margin: 5px;
}

.dogImage {
    object-fit: cover;
    height: 250px;
}