.App {
    text-align: center;
    width: 100%;
}

.navbar {
    padding-left: 5px;
    padding-right: 5px;
}

.browse {
    display: flex;
    padding: 5px;
    flex-direction: column;
    overflow-x: auto;
}

.optionsBar {
    display: flex;
    flex-direction: row;
}

.dogCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.dogCard {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    margin: 5px;
}

.dogImage {
    object-fit: cover;
    height: 250px;
}

.favoriteButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

.pagination {
    /* position: fixed;
    bottom: 5px; */
}